:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --background-primary-color: #FFFFFF;
    --background-secondary-color: #2F303A;
    --accent-color: #2196F3;
    --transperent-color: #FFFFFF99;
    --inactive-filter-color: #F5F4FA;
}

.body {
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 14px;
}

button {
    border-radius: 4px;
    border: 0px;
}

button:focus {
    outline: none;
    border: none;
}

button:active {
    box-shadow: inset 1px 1px 10px 5px rgba(0, 0, 0, 0.363);
}

h1, h2, h3, p, ul, li {
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

/* Header */

.header {
   background-color: var(--background-primary-color);
   border-bottom: 1px solid #ECECEC;
}

.container  {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header .container {
    align-items: center;
    display: flex;
}

.contact {
    color: var(--secondary-color);
    margin-left: auto;
    gap: 40px; 
}

.navigation-list {
    padding: 32px 0;
    gap: 50px;
}

.contact,
.navigation-list {
    list-style-type: none;
    display: flex;    
}

.logo {
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;
    margin: 0 93px 0 0;
}

.tel,
.email,
.navigation-button {
    transition: color 333ms;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.tel:hover,
.tel:focus,
.email:hover,
.email:focus,
.color-part-logo,
.navigation-button:hover,
.navigation-button:focus,
.active-navigation-button {
    color: var(--accent-color);
}


/* Main */

.hat {
    background-color: var(--background-secondary-color);
    padding: 200px 0;
}

.hat .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hat-header {
    color: var(--background-primary-color);
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    max-width: 696px;
    text-align: center;
    margin-bottom: 40px;
}

.hat-button {
    color: var(--background-primary-color);
    background-color: var(--accent-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    padding: 10px 24px;
}

.features {
    padding-top: 94px ;
    padding-bottom: 94px;
}

.features-list {
    display: flex;
    gap: 30px;
}

.features-title {
    text-transform: uppercase;
    font-size: inherit;
    line-height: 1.71;
    letter-spacing: 0.42px;
    font-weight: 700;   
}

.features-description{
    color: var(--secondary-color);
    line-height: 1.71;
    letter-spacing: 0.42px;
    width: 270px;
}

.wwds {
    padding-bottom: 94px;
}

.wwd-list {
    display: flex;
    gap: 30px;
}

.wwd-title,
.team-title {
    color: var(--primary-color);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    text-align: center;
    margin-bottom: 50px; 
}

.team {
    background-color: var(--inactive-filter-color); 
    padding: 94px;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-description {
    flex-direction: column;
    display: flex;
    padding: 30px 0;   
}

.team-member {
    background-color: var(--background-primary-color);
}

.member-name {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    text-align: center;
}

.member-job {
    color: var(--secondary-color);
    font-size: 16px;
    letter-spacing: 0.48px;
    margin-top: 10px;
    text-align: center; 
}

.wwd-list,
.features-list,
.team-list {
    list-style-type: none;
}


/* Footer */

.footer {
    background-color: var(--background-secondary-color);
    padding: 60px 0;
}

.footer-logo { 
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;
}

.contact-footer {
    font-style: normal;
    display: flex;
    flex-direction: column;
}

.addres-footer {
    text-decoration: none;    
    color: var(--background-primary-color);
    
    line-height: 1.14;
    letter-spacing: 0.42px;
    margin-top: 28px;
}

.email-footer,
.tel-footer { 
    text-decoration: none; 
    color: var(--transperent-color);
    font-size: inherit;
    line-height: 1.14;
    letter-spacing: 0.42px;
    margin-top: 12px;
}


/* Main (Portfolio) */

.sort-buttons-list {
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
    gap: 8px;
}

.button-filter {
    color: var(--primary-color);
    background-color: var(--inactive-filter-color);
    font-family: inherit;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    padding: 6px 22px;
} 

.button-filter-active {
    color: var(--background-primary-color);
    background-color: var(--accent-color);
}

.button-filter:hover,
.button-filter:focus {
    color: var(--background-primary-color);
    background-color: var(--accent-color);
}

.projects {
    background-color: var(--background-primary-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
}

.projects-list li {
    border: 1px solid #EEE;
}

.projects-list,
.projects-list-link,
.sort-buttons-list {    
    list-style-type: none;
    text-decoration: none;
}

.projects-text {
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-primary-color);
}

.projects-title {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px; 
}

.projects-description {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.48px;
}